/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --border-radius-radius-radius-0: var(--dimension-sizes-0);
  --border-radius-radius-radius-0-5: var(--dimension-sizes-0-5);
  --border-radius-radius-radius-1: var(--dimension-sizes-1);
  --border-radius-radius-radius-2: var(--dimension-sizes-2);
  --border-radius-radius-radius-4: var(--dimension-sizes-4);
  --border-radius-radius-radius-6: var(--dimension-sizes-6);
  --border-radius-radius-radius-8: var(--dimension-sizes-8);
  --border-radius-radius-radius-12: var(--dimension-sizes-12);
}