/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --color-primary-00: #ffffff;
  --color-colors-primary-primary-1-100: #f0fff9;
  --color-primary-100: #cfffed;
  --color-primary-200: #afffe0;
  --color-primary-300: #8effd3;
  --color-primary-400: #6dffc7;
  --color-primary-500: #56e3ad;
  --color-primary-600-base: #3fc18f;
  --color-primary-700: #2c9f73;
  --color-primary-800: #1c7d58;
  --color-colors-accents-accent-1-00: #ffffff;
  --color-primary-900: #105b3e;
  --color-colors-accents-accent-1-100: #f8ffff;
  --color-colors-accents-accent-1-100: #dcffff;
  --color-colors-accents-accent-1-200: #c0ffff;
  --color-colors-accents-accent-1-300-base: #a9e6e6;
  --color-colors-accents-accent-1-400: #92cccc;
  --color-colors-accents-accent-1-500: #7cb3b3;
  --color-colors-accents-accent-1-700: #548080;
  --color-colors-accents-accent-1-800: #416767;
  --color-colors-accents-accent-1-900: #2f4d4d;
  --color-colors-accents-accent-2-00: #ffffff;
  --color-colors-accents-accent-2-100: #fffef9;
  --color-colors-accents-accent-2-100: #fff9e1;
  --color-colors-accents-accent-2-200-base: #fff4c9;
  --color-colors-accents-accent-2-300: #e5dbb0;
  --color-colors-accents-accent-2-400: #e5dbb0;
  --color-colors-accents-accent-2-500: #ccc299;
  --color-colors-accents-accent-2-600: #b2a982;
  --color-colors-accents-accent-2-800: #665f44;
  --color-colors-accents-accent-2-900: #4d4732;
  --color-colors-accents-accent-3-00: #ffffff;
  --color-colors-accents-accent-3-50: #f3f6ff;
  --color-colors-accents-accent-3-100: #aec2ff;
  --color-colors-accents-accent-3-200: #aec2ff;
  --color-colors-accents-accent-3-300: #8ba9ff;
  --color-colors-accents-accent-3-600: #4e65aa;
  --color-colors-accents-accent-3-700: #3c518d;
  --color-colors-accents-accent-3-800: #2d3e6f;
  --color-colors-accents-accent-3-900: #1f2c52;
  --color-colors-neutrals-00: #ffffff;
  --color-colors-neutrals-100: #f3f3f4;
  --color-colors-neutrals-200: #dcddde;
  --color-colors-neutrals-300: #c6c6c8;
  --color-colors-neutrals-500: #9a9b9d;
  --color-colors-neutrals-600: #717274;
  --color-colors-neutrals-700: #5d5e60;
  --color-colors-neutrals-800: #4a4b4d;
  --color-colors-neutrals-900: #38393b;
  --color-colors-neutrals-1000: #000000;
  --color-colors-functionals-invalid-100: #ffebed;
  --color-colors-functionals-invalid-100: #ffd6da;
  --color-colors-functionals-invalid-200: #f9c1c6;
  --color-colors-neutrals-1000-50prct: #2d2e3080;
  --color-colors-functionals-invalid-300: #f2abb2;
  --color-colors-functionals-invalid-400: #ec969f;
  --color-colors-functionals-invalid-500: #e6808b;
  --color-colors-functionals-invalid-600: #d95663;
  --color-colors-functionals-invalid-700: #d2404f;
  --color-colors-functionals-invalid-800: #cc2b3c;
  --color-colors-functionals-invalid-800: #c61528;
  --color-colors-functionals-info-100: #dff2fd;
  --color-colors-functionals-info-100: #bee5fb;
  --color-colors-functionals-info-200: #abdaf5;
  --color-colors-functionals-info-300: #98cfee;
  --color-colors-functionals-info-400: #85c4e8;
  --color-colors-functionals-info-500: #72b9e1;
  --color-colors-functionals-info-600: #4ca4d5;
  --color-colors-functionals-info-700: #3a99ce;
  --color-colors-functionals-info-800: #278ec8;
  --color-colors-functionals-info-800: #1483c1;
  --color-colors-functionals-valid-100: #e7fced;
  --color-colors-functionals-valid-100: #d0f9dc;
  --color-colors-functionals-valid-200: #bbf1ce;
  --color-colors-functionals-valid-300: #a6eac0;
  --color-colors-functionals-valid-400: #92e2b1;
  --color-colors-functionals-valid-500: #53cb87;
  --color-colors-functionals-valid-600: #53cb87;
  --color-colors-functionals-valid-700: #3ec379;
  --color-colors-functionals-valid-800: #2abb6b;
  --color-colors-functionals-valid-800: #1daa5c;
  --color-colors-functionals-warning-100: #fdfbe8;
  --color-colors-functionals-warning-100: #fcf8d1;
  --color-colors-functionals-warning-200: #f8f2bc;
  --color-colors-functionals-warning-300: #f4eda7;
  --color-colors-functionals-warning-400: #f0e793;
  --color-colors-functionals-warning-500: #ebe17e;
  --color-colors-functionals-warning-600: #e3d654;
  --color-colors-functionals-warning-700: #dfd03f;
  --color-colors-functionals-warning-800: #dbca2b;
  --color-colors-functionals-warning-500: #d7c516;
  --color-colors-accents-accent-4-00: #ffffff;
  --color-colors-accents-accent-4-50: #ffecf1;
  --color-colors-accents-accent-4-100: #ffc1d3;
  --color-colors-accents-accent-4-200-base: #ff96b5;
  --color-colors-accents-accent-4-300: #fe6a96;
  --color-colors-accents-accent-4-400: #ed3b71;
  --color-colors-accents-accent-4-700: #a91944;
  --color-colors-accents-accent-4-800: #870d31;
  --color-colors-accents-accent-4-900: #650421;
  --color-surface-primary-1: #f0fff9;
  --color-colors-functionals-warning-turkoise: #ffffff;
  --color-hotpink-t00: #ffffff;
  --color-hotpink-t100: #ffeef9;
  --color-hotpink-t200: #ffdaf3;
  --color-hotpink-t300: #ffcaed;
  --color-hotpink-t400: #ffb7e7;
  --color-hotpink-t500: #ff86d7;
  --color-hotpink-t600-base: #ff82d5;
  --color-hotpink-t700: #ff4dc4;
  --color-hotpink-t800: #ff18b2;
  --color-hotpink-t900: #ff01aa;
  --color-text-states-link: var(--color-primary-700);
  --color-text-states-link-hover: var(--color-primary-500);
  --color-text-states-visited: var(--color-primary-800);
  --color-text-states-disabled: var(--color-colors-neutrals-200);
  --color-text-states-valid: var(--color-colors-functionals-valid-800);
  --color-text-states-invalid: var(--color-colors-functionals-invalid-800);
  --color-text-headings: var(--color-colors-neutrals-1000);
  --color-text-body: var(--color-colors-neutrals-800);
  --color-text-buttons-primary: var(--color-colors-neutrals-00);
  --color-text-buttons-secondary: var(--color-primary-600-base);
  --color-text-buttons-primary-hover: var(--color-colors-neutrals-00);
  --color-text-buttons-secondary-hover: var(--color-primary-700);
  --color-surface-primary-primary-0: var(--color-primary-00);
  --color-surface-primary-primary-1: var(--color-primary-100);
  --color-surface-primary-primary-6: var(--color-primary-600-base);
  --color-surface-primary-primary-7: var(--color-primary-700);
  --color-surface-primary-primary-8: var(--color-primary-800);
  --color-surface-neutrals-neutrals-0: var(--color-colors-neutrals-00);
  --color-text-buttons-disabled: var(--color-text-states-disabled);
  --color-text-buttons-tertiary: var(--color-colors-neutrals-1000);
  --color-text-buttons-tertiary-hover: var(--color-primary-700);
  --color-text-subtle: var(--color-colors-neutrals-500);
  --color-surface-neutrals-neutrals-1: var(--color-colors-neutrals-100);
  --color-surface-buttons-primary: var(--color-primary-600-base);
  --color-surface-buttons-secondary: var(--color-surface-neutrals-neutrals-0);
  --color-strokes-light: var(--color-colors-neutrals-200);
  --color-strokes-medium: var(--color-colors-neutrals-500);
  --color-strokes-dark: var(--color-colors-neutrals-800);
  --color-strokes-primary: var(--color-primary-600-base);
  --color-strokes-states-valid: var(--color-colors-functionals-valid-800);
  --color-strokes-buttons-secondary: var(--color-primary-600-base);
  --color-strokes-states-invalid: var(--color-colors-functionals-invalid-800);
  --color-strokes-buttons-secondary-hover: var(--color-primary-700);
  --color-strokes-buttons-disabled: var(--color-colors-neutrals-200);
  --color-surface-buttons-button-disabled: var(--color-colors-neutrals-100);
  --color-surface-elements-tag: var(--color-colors-neutrals-800);
  --color-surface-elements-radio: var(--color-primary-600-base);
  --color-surface-elements-checkbox: var(--color-primary-600-base);
  --color-surface-elements-list-bullet: var(--color-colors-accents-accent-1-400);
  --color-surface-elements-badge: var(--color-colors-accents-accent-1-400);
  --color-surface-elements-disabled: var(--color-colors-neutrals-200);
  --color-surface-alerts-success: var(--color-colors-functionals-valid-100);
  --color-surface-alerts-info: var(--color-colors-functionals-info-100);
  --color-surface-alerts-warning: var(--color-colors-functionals-warning-100);
  --color-surface-alerts-danger: var(--color-colors-functionals-invalid-100);
  --color-surface-accents-accent-1: var(--color-colors-accents-accent-1-300-base);
  --color-surface-accents-accent-2: var(--color-colors-accents-accent-2-200-base);
  --color-surface-other-overlay: var(--color-colors-neutrals-1000-50prct);
  --color-surface-neutrals-neutrals-2: var(--color-colors-neutrals-200);
  --color-surface-neutrals-neutrals-5: var(--color-colors-neutrals-500);
  --color-surface-neutrals-neutrals-8: var(--color-colors-neutrals-800);
  --color-surface-neutrals-neutrals-10: var(--color-colors-neutrals-1000);
  --color-text-inverted: var(--color-colors-neutrals-00);
  --color-text-primary: var(--color-primary-600-base);
  --color-text-text-body: var(--color-hotpink-t900);
  --color-color: var(--color-text-text-body);
}