/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dimension-sizes-0: 0px;
  --dimension-sizes-0-5: 2px;
  --dimension-sizes-1: 4px;
  --dimension-sizes-2: 8px;
  --dimension-sizes-3: 12px;
  --dimension-sizes-4: 16px;
  --dimension-sizes-6: 24px;
  --dimension-sizes-8: 32px;
  --dimension-sizes-10: 40px;
  --dimension-sizes-12: 48px;
  --dimension-sizes-14: 56px;
  --dimension-sizes-16: 64px;
  --dimension-sizes-18: 72px;
  --dimension-sizes-20: 80px;
  --dimension-sizes-22: 88px;
  --dimension-sizes-24: 96px;
  --dimension-sizes-26: 104px;
  --dimension-sizes-28: 112px;
  --dimension-sizes-30: 120px;
  --dimension-font-size-2-xs: 12px;
  --dimension-font-size-xs: 14px;
  --dimension-font-size-s: 16px;
  --dimension-font-size-m: 18px;
  --dimension-font-size-l: 20px;
  --dimension-font-size-xl: 24px;
  --dimension-font-size-2-xl: 40px;
  --dimension-font-size-3-xl: 64px;
  --dimension-font-line-height-spacious-2-xs: 18px;
  --dimension-font-line-height-spacious-xs: 21px;
  --dimension-font-line-height-spacious-s: 24px;
  --dimension-font-line-height-spacious-m: 27px;
  --dimension-font-line-height-spacious-l: 30px;
  --dimension-font-line-height-spacious-xl: 36px;
  --dimension-font-line-height-spacious-2-xl: 60px;
  --dimension-font-line-height-spacious-3-xl: 96px;
  --dimension-font-line-height-dense-2-xs: 14px;
  --dimension-font-line-height-dense-xs: 17px;
  --dimension-font-line-height-dense-s: 19px;
  --dimension-font-line-height-dense-m: 22px;
  --dimension-font-line-height-dense-l: 24px;
  --dimension-font-line-height-dense-xl: 27px;
  --dimension-font-line-height-dense-2-xl: 48px;
  --dimension-font-line-height-dense-3-xl: 77px;
}