/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --size-viewport-width: 1728px;
  --size-viewport-height: 942px;
  --size-size-size-0: var(--dimension-sizes-0);
  --size-size-size-1: var(--dimension-sizes-1);
  --size-size-size-2: var(--dimension-sizes-2);
  --size-size-size-3: var(--dimension-sizes-3);
  --size-size-size-4: var(--dimension-sizes-4);
  --size-size-size-6: var(--dimension-sizes-6);
  --size-size-size-8: var(--dimension-sizes-8);
  --size-size-size-10: var(--dimension-sizes-10);
  --size-size-size-12: var(--dimension-sizes-12);
}