/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --space-gap-gap-0: var(--dimension-sizes-0);
  --space-gap-gap-1: var(--dimension-sizes-1);
  --space-gap-gap-2: var(--dimension-sizes-2);
  --space-gap-gap-3: var(--dimension-sizes-3);
  --space-gap-gap-4: var(--dimension-sizes-4);
  --space-gap-gap-6: var(--dimension-sizes-6);
  --space-gap-gap-8: var(--dimension-sizes-8);
  --space-gap-gap-10: var(--dimension-sizes-10);
  --space-gap-gap-16: var(--dimension-sizes-16);
  --space-gap-gap-24: var(--dimension-sizes-24);
}