/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --string-type: "Desktop";
  --string-font-family-title: "Tomato Grotesk";
  --string-font-family-body: "Eina 01";
  --string-font-weight-regular: "Regular";
  --string-font-weight-bold: "Bold";
  --string-text: var(--string-type);
}