@import "tailwindcss";

@theme {
  /* Colors */
  /* _Primitives */
  --color-Colors-Functionals-Invalid-800: #cc2b3c;
  --color-Colors-Functionals-Invalid-700: #d2404f;
  --color-Colors-Functionals-Invalid-600: #d95663;
  --color-Colors-Functionals-Invalid-500: #e6808b;
  --color-Colors-Functionals-Invalid-400: #ec969f;
  --color-Colors-Functionals-Invalid-300: #f2abb2;
  --color-Colors-Functionals-Invalid-200: #f9c1c6;
  --color-Colors-Functionals-Invalid-100: #ffd6da;
  --color-Colors-Functionals-Valid-800: #2abb6b;
  --color-Colors-Functionals-Valid-700: #3ec379;
  --color-Colors-Functionals-Valid-600: #53cb87;
  --color-Colors-Functionals-Valid-500: #53cb87;
  --color-Colors-Functionals-Valid-400: #92e2b1;
  --color-Colors-Functionals-Valid-300: #a6eac0;
  --color-Colors-Functionals-Valid-200: #bbf1ce;
  --color-Colors-Functionals-Valid-100: #d0f9dc;
  --color-Colors-Functionals-Info-800: #278ec8;
  --color-Colors-Functionals-Info-700: #3a99ce;
  --color-Colors-Functionals-Info-600: #4ca4d5;
  --color-Colors-Functionals-Info-500: #72b9e1;
  --color-Colors-Functionals-Info-400: #85c4e8;
  --color-Colors-Functionals-Info-300: #98cfee;
  --color-Colors-Functionals-Info-200: #abdaf5;
  --color-Colors-Functionals-Info-100: #bee5fb;
  --color-Colors-Functionals-Warning-800: #dbca2b;
  --color-Colors-Functionals-Warning-700: #dfd03f;
  --color-Colors-Functionals-Warning-600: #e3d654;
  --color-Colors-Functionals-Warning-500: #ebe17e;
  --color-Colors-Functionals-Warning-400: #f0e793;
  --color-Colors-Functionals-Warning-300: #f4eda7;
  --color-Colors-Functionals-Warning-200: #f8f2bc;
  --color-Colors-Functionals-Warning-100: #fcf8d1;
  --color-Primary-900: #105b3e;
  --color-Primary-400: #6dffc7;
  --color-Primary-300: #8effd3;
  --color-Primary-200: #afffe0;
  --color-Primary-100: #cfffed;
  --color-Colors-Neutrals-900: #38393b;
  --color-Colors-Neutrals-700: #5d5e60;
  --color-Colors-Neutrals-600: #717274;
  --color-Colors-Functionals-Invalid-800: #c61528;
  --color-Colors-Functionals-Invalid-100: #ffebed;
  --color-Colors-Functionals-Valid-800: #1daa5c;
  --color-Colors-Functionals-Valid-100: #e7fced;
  --color-Colors-Functionals-Info-800: #1483c1;
  --color-Colors-Functionals-Info-100: #dff2fd;
  --color-Colors-Functionals-Warning-500: #d7c516;
  --color-Colors-Functionals-Warning-100: #fdfbe8;
  --color-Primary-800: #1c7d58;
  --color-Primary-700: #2c9f73;
  --color-Primary-600-base: #3fc18f;
  --color-Primary-500: #56e3ad;
  --color-Colors-Neutrals-800: #4a4b4d;
  --color-Colors-Neutrals-500: #9a9b9d;
  --color-Colors-Neutrals-300: #c6c6c8;
  --color-Colors-Neutrals-200: #dcddde;
  --color-Colors-Neutrals-100: #f3f3f4;
  --color-Colors-Neutrals-00: #ffffff;
  --color-Colors-Neutrals-1000-50prct: #2d2e30;
  --color-Colors-Neutrals-1000: #000000;
  --color-Primary-00: #ffffff;
  --color-Colors-Functionals-Warning-Turkoise: #ffffff;
  --color-hotpink-t00: #ffffff;
  --color-hotpink-t100: #ffeef9;
  --color-hotpink-t200: #ffdaf3;
  --color-hotpink-t300: #ffcaed;
  --color-hotpink-t400: #ffb7e7;
  --color-hotpink-t500: #ff86d7;
  --color-hotpink-t600-base: #ff82d5;
  --color-hotpink-t700: #ff4dc4;
  --color-hotpink-t800: #ff18b2;
  --color-hotpink-t900: #ff01aa;

  /* Colors */

  /* Semantic */

  /* Typography */
  /* Font Families */
  --font-font-family-Title: Tomato Grotesk;
  --font-font-family-Body: Eina 01;

  /* Font Sizes */
  --text-Sizes-1: 4px;
  --text-Sizes-2: 8px;
  --text-Sizes-4: 16px;
  --text-Sizes-6: 24px;
  --text-Sizes-8: 32px;
  --text-Sizes-10: 40px;
  --text-Sizes-12: 48px;
  --text-Sizes-0: 0px;
  --text-Sizes-14: 56px;
  --text-Sizes-16: 64px;
  --text-Sizes-18: 72px;
  --text-Sizes-20: 80px;
  --text-Sizes-22: 88px;
  --text-Sizes-24: 96px;
  --text-Sizes-26: 104px;
  --text-Sizes-28: 112px;
  --text-Sizes-30: 120px;
  --text-Sizes-3: 12px;
  --text-Sizes-0,5: 2px;
  --text-font-size-XS: 14px;
  --text-font-size-S: 16px;
  --text-font-size-M: 18px;
  --text-font-size-L: 20px;
  --text-font-size-XL: 24px;
  --text-font-size-2XL: 40px;
  --text-font-size-3XL: 64px;
  --text-font-size-2XS: 12px;

  /* Line Heights */
  --leading-Viewport-height: 942;
  --leading-font-line-height-spacious-2XS: 18;
  --leading-font-line-height-spacious-XS: 21;
  --leading-font-line-height-spacious-S: 24;
  --leading-font-line-height-spacious-M: 27;
  --leading-font-line-height-spacious-L: 30;
  --leading-font-line-height-spacious-XL: 36;
  --leading-font-line-height-spacious-2XL: 60;
  --leading-font-line-height-spacious-3XL: 96;
  --leading-font-line-height-dense-2XS: 14;
  --leading-font-line-height-dense-XS: 17;
  --leading-font-line-height-dense-S: 19;
  --leading-font-line-height-dense-M: 22;
  --leading-font-line-height-dense-L: 24;
  --leading-font-line-height-dense-XL: 27;
  --leading-font-line-height-dense-2XL: 48;
  --leading-font-line-height-dense-3XL: 77;

  /* Text Styles */
  --font-heading-h1: Tomato Grotesk;
  --text-heading-h1: 64px;
  --font-heading-h2: Tomato Grotesk;
  --text-heading-h2: 40px;
  --font-heading-h3: Tomato Grotesk;
  --text-heading-h3: 24px;
  --font-heading-h4: Tomato Grotesk;
  --text-heading-h4: 20px;
  --font-heading-h5: Tomato Grotesk;
  --text-heading-h5: 18px;
  --font-heading-h6: Tomato Grotesk;
  --text-heading-h6: 16px;
  --font-paragraph-leading: Eina 01;
  --text-paragraph-leading: 24px;
  --font-paragraph-body: Eina 01;
  --text-paragraph-body: 16px;
  --font-paragraph-body-strong: Eina 01;
  --text-paragraph-body-strong: 16px;
  --font-paragraph-link: Eina 01;
  --text-paragraph-link: 16px;
  --font-paragraph-body-small: Eina 01;
  --text-paragraph-body-small: 14px;
  --font-paragraph-body-small-strong: Eina 01;
  --text-paragraph-body-small-strong: 14px;
  --font-navigation-breadcrumb-default: Eina 01;
  --text-navigation-breadcrumb-default: 16px;
  --font-navigation-breadcrumb-hover: Eina 01;
  --text-navigation-breadcrumb-hover: 16px;
  --font-form-elements-label: Eina 01;
  --text-form-elements-label: 16px;
  --font-form-elements-text: Eina 01;
  --text-form-elements-text: 16px;
  --font-misc-button-text: Tomato Grotesk;
  --text-misc-button-text: 14px;
  --font-misc-tag: Eina 01;
  --text-misc-tag: 12px;
  --font-misc-badge: Eina 01;
  --text-misc-badge: 12px;
  --font-meta-.label: Eina 01;
  --text-meta-.label: 16px;

  /* Spacing */
  --spacing-Gap-Gap-0: [object Object]px;
  --spacing-Gap-Gap-1: [object Object]px;
  --spacing-Gap-Gap-2: [object Object]px;
  --spacing-Gap-Gap-4: [object Object]px;
  --spacing-Gap-Gap-6: [object Object]px;
  --spacing-Gap-Gap-8: [object Object]px;
  --spacing-Gap-Gap-10: [object Object]px;
  --spacing-Gap-Gap-16: [object Object]px;
  --spacing-Gap-Gap-3: [object Object]px;
  --spacing-Gap-Gap-24: [object Object]px;

  /* Shadows */
  --shadow-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.10000000149011612);
}
